################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/taralux/.vs
/.vs
/.vs
/.vs
